@import "bootstrap";
@import "ember-paper";
@import "ember-dialog";
@import "ember-paper-selection-dialog";

.image {
  width: 150px;
  height: 200px;
  display: block;
  cursor: pointer;
}

.image-sm {
  width: 40px;
  height: 40px;
  display: block;
}

.navbar-default{
  .navbar-brand{
    color: #00cccc;
    font-weight: bold;
  }
}

body {
  padding-top: 80px;
}

html {
  overflow-y: scroll;
}

.btn-success{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+83,d1d1d1+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 83%, rgba(209,209,209,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 83%,rgba(209,209,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 83%,rgba(209,209,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
  border: 1px solid #CCC;
  color: #000;
}

.btn-success:hover{
  color: #000;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn-success:visited{
  color: #000;
}

.btn-success:active{
  color: #CCC;
  box-shadow: inset 1px 1px 1px #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c7+0,f5f9f0+100 */
  background: rgb(201,201,199); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(201,201,199,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(201,201,199,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(201,201,199,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
  border: 1px solid #CCC;
}

// .navbar-brand {
//   background-color: #003f87;
//   font-size: 40px;
//   margin-left: -5px;
//   font-family: Helvetica, Arial, sans-serif;
//   font-weight: bold;
//   color: transparent;
//   text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
//   -webkit-background-clip: text;
//      -moz-background-clip: text;
//           background-clip: text;
// }

.library-item {
  min-height: 150px;
}

.panel{
  border-radius: 15px 15px 15px 15px;
}

.panel-heading {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #ccc;
  .panel-title{
    font-weight: bold;
    color: #999;
  }
}

.panel-footer {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #ccc;
}

.panel-body {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-style: italic;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.extra-padding-bottom {
  padding-bottom: 20px;
}

#footer{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}


// .navbar-inverse  >  >
//  .navbar-inverse .navbar-nav > .active > a:focus
