<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-header">
          <h2>{{model.title}}</h2>
        </div>
        <div class="panel-body">
          <img class="image" src="{{model.image}}" alt="">
        </div>
    </div>
  </div>
</div>
