<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-header">
          <h2>{{model.title}}</h2>
        </div>
        <div class="panel-body">
          <img class="image" src="{{model.image}}" alt="">
        </div>
        <div class="panel-body">
          {{#link-to 'books.edit' model class="btn btn-success"}}Edit this Book{{/link-to}}
          {{delete-book model=model}}
        </div>
    </div>
  </div>
</div>
